@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
      <h1 class="display-4">Universidad de El Salvador</h1>
        <h1 class="display-4">Facultad Multidisciplinaria Paracentral</h1>
          <h1 class="display-4">Departamento de informática</h1>

    <h1 class="display-4">Tarea final, base de datos ciclo I 2022</h1>
    <h3>Integrantes:</h3>
    <p>Harvin Jeffeth Ramos Alfaro</p>
    <p>Gerson Leiva</p>
    <p>Lesle Henriquez</p>
    <p>Marta Campos</p>
</div>
